scopeName: 'source.t2f'
name: 'text2form'
fileTypes: [
  't2f'
]
limitLineLength: false

firstLineMatch: '' # A regular expression that is matched against the first line of the document when Atom is trying to decide if the grammar is appropriate. Useful for shell scripts, mostly.
foldingStartMarker: '' # A regular expression that checks for the start of a foldable area (such as `{`).
foldingStopMarker: '' # A regular expression that checks for the end of a foldable area (such as `}`). If both folding markers are matched in the same line, there will be no foldable area.
patterns: [ # An array of individual pattern declarations.
  {
    comment: 'Kommentar'
    name: 'comment.line.t2f'
    match: '\\/\\/.*'
  }
  {
    comment: 'Frageparameter'
    name: 'support.function.t2f'
    match: '^\\[.*\\]'
  }
  {
    comment: 'Fragetext'
    name: 'markup.heading.t2f'
    match: '(^[^\\/\\[-])(.*)'
  }
  {
    comment: 'Antworten mit Parametern'
    match: '^(-[^\\[]*)(\\[.*\\])*(.*)'
    captures:
      1: 'support.class.t2f'
      2: 'keyword.control.t2f'
      3: 'support.class.t2f'
  }
]
